
body {
	margin: 0;
	width: 100%;
#background-image: url("https://i.raven.surf/858336.png");

}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.jumbotronMobile {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
